<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        .red {
            background-color: red;
        }
    </style>

    <link href="../scripts/bootstrap.min.css" rel="stylesheet" />
    <script src="../scripts/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/angular.min.js"></script>

</head>
<body class="ng-cloak" ng-app="Refrigerator">
    <div class="container" ng-controller="productInsert">

        <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="list-tab" data-toggle="tab" data-target="#list" type="button" role="tab" aria-controls="list" aria-selected="true" ng-click="GetGetProducts()">Product List</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-toggle="tab" data-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false" ng-click="GetProductsHistory()">Product History</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="expired-tab" data-toggle="tab" data-target="#expired" type="button" role="tab" aria-controls="expired" aria-selected="false" ng-click="GetExpiredProducts()">Expired Product</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="row mt-2">
                    <div class="col-md-12 text-right">
                        <input type="button" name="btnAddProduct" value="Add" ng-click="addProduct()" />
                    </div>
                </div>
                <div class="row mt-2" ng-show="showAddProductDiv">
                    <div class="row mt-2">
                        <div class="col-md-12">Product Name</div>
                        <div class="col-md-12 mt-1">
                            <input type="text" name="productName" value="" ng-model="productName" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">Product Type</div>
                        <div class="col-md-12 mt-1">
                            <select ng-model="productType" style="min-width: 192px;">
                                <option ng-repeat="item in productTypeList" value="{{item.ptId}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">Product Quantity</div>
                        <div class="col-md-12 mt-1">
                            <input type="text" name="productQuantity" value="" ng-model="productQuantity" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">Action</div>
                        <div class="col-md-12 mt-1">
                            <input type="button" name="btnSaveProduct" value="Save" ng-click="saveProduct()" />
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <div class='row'>
                        <div class='col-md-2 border text-center'>Product Name</div>
                        <div class='col-md-2 border text-center'>Product Type</div>
                        <div class='col-md-2 border text-center'>Product Quantity</div>
                        <div class='col-md-2 border text-center'>Purchase Date</div>
                        <div class='col-md-2 border text-center'>Expiry Date</div>
                        <div class='col-md-2 border text-center'>Action</div>
                    </div>
                    <div ng-repeat="item in productList">
                        <div class="row {{item.expiryDate<=todayDate ? 'disabled red' : ''}}" ng-disabled={{item.expiryDate<=todayDate}} title="{{item.expiryDate<=todayDate ? 'Expired Product':''}}">
                            <div class="col-md-2 border text-center">{{item.productName}}</div>
                            <div class="col-md-2 border text-center">{{getProductTypeText(item.productType)}}</div>
                            <div class="col-md-2 border text-center">{{item.productQuantity}}</div>
                            <div class="col-md-2 border text-center">{{item.purchaseDate}}</div>
                            <div class="col-md-2 border text-center">{{item.expiryDate}}</div>
                            <div class="col-md-2 border text-center">
                                <input type="button" name="btnEditProduct" value="Edit" class="btn btn-primary mt-1 mr-2 mb-1" ng-click="updateProduct(item.id)" />
                                <input type="button" name="btnDeleteProduct" value="Delete" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div class="mt-2">
                    <div class='row'>
                        <div class='col-md-2 border text-center'>Product Name</div>
                        <div class='col-md-2 border text-center'>Product Type</div>
                        <div class='col-md-2 border text-center'>Product Quantity</div>
                        <div class='col-md-2 border text-center'>Purchase Date</div>
                        <div class='col-md-2 border text-center'>Expiry Date</div>
                    </div>
                    <div ng-repeat="item in productHistoryList">
                        <div class="row">
                            <div class="col-md-2 border text-center">{{item.productName}}</div>
                            <div class="col-md-2 border text-center">{{getProductTypeText(item.productType)}}</div>
                            <div class="col-md-2 border text-center">{{item.productQuantity}}</div>
                            <div class="col-md-2 border text-center">{{item.purchaseDate}}</div>
                            <div class="col-md-2 border text-center">{{item.expiryDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="expired" role="tabpanel" aria-labelledby="expired-tab">
                <div class="mt-2">
                    <div class='row'>
                        <div class='col-md-2 border text-center'>Product Name</div>
                        <div class='col-md-2 border text-center'>Product Type</div>
                        <div class='col-md-2 border text-center'>Product Quantity</div>
                        <div class='col-md-2 border text-center'>Purchase Date</div>
                        <div class='col-md-2 border text-center'>Expiry Date</div>
                    </div>
                    <div ng-repeat="item in expProductList" >
                        <div class="row" ng-show="{{item.expiryDate<=todayDate}}">
                            <!-- {{item.expiryDate<=todayDate}}-{{todayDate}} -->
                            <div class="col-md-2 border text-center">{{item.productName}}</div>
                            <div class="col-md-2 border text-center">{{getProductTypeText(item.productType)}}</div>
                            <div class="col-md-2 border text-center">{{item.productQuantity}}</div>
                            <div class="col-md-2 border text-center">{{item.purchaseDate}}</div>
                            <div class="col-md-2 border text-center">{{item.expiryDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<script src="../scripts/productjs/app.js"></script>
<script src="../scripts/productjs/service.js"></script>
<script src="../scripts/productjs/productInsert.js"></script>